<form id="admin-form" class="mx-auto bg-gray-800 p-6 rounded-lg shadow-md">
    <label for="text" class="block text-gray-200 font-semibold mb-2">
        Enter Token:
    </label>
    <textarea
        id="token"
        name="token"
        rows="4"
        class="w-full p-3 border bg-[#121212] text-gray-200 border-gray-700 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4 resize-none"
        placeholder="Enter your token"
        required></textarea>
    <button
        type="submit"
        class="w-full px-4 py-3 bg-blue-600 text-white font-bold rounded hover:bg-blue-700 transition duration-200 ease-in-out transform hover:scale-105"
    >
        Save Token
    </button>
</form>

<script>
    // Attach the event listener after the DOM has loaded
    document
        .getElementById("admin-form")
        ?.addEventListener("submit", (e: any) => {
            e.preventDefault();
            if (e.target === null) return;
            const formData = new FormData(e.target);
            fetch("/api/saveToken", {
                method: "POST",
                body: formData,
            })
                .then((data) => {
                    // Redirect user to index page
                    console.log("adfd");
                    window.location.replace("./");
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        });
</script>
