---
export const prerender = false;

import getAuthToken from "../scritps/getAuthToken";

const nodeEnv = process.env.KV_REST_API_URL;
const astroEnv = import.meta.env.KV_REST_API_URL;

const token = await getAuthToken();
---
<h1>node env {nodeEnv}</h1>
<h1>astro env {astroEnv}</h1>
<h1>{token}</h1>