---
import Row from "./Row.astro";
import Card from "./Card.astro";

interface TableProps {
  players: IndusPlayer[];
}

const { players } = Astro.props as TableProps;
const topThreePlayers = players.slice(0, 3);
---

<div class="space-y-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {players.map((player) => <Card player={player} />)}
  </div>

  <div class="relative overflow-x-auto shadow-md hidden md:block">
    <div
      class="flex items-center justify-between flex-col flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
    >
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative w-full md:w-auto">
        <div
          class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
          </svg>
        </div>
        <input
          type="text"
          id="table-search-players"
          class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-full md:w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search for players"
        />
      </div>
    </div>
    <table
      class="min-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr class="flex-col">
          <th scope="col" class="px-4 py-3">Name</th>
          <th scope="col" class="px-4 py-3">Position</th>
          <th scope="col" class="px-4 py-3 bg-gradient-to-r from-purple-500 via-pink-500 to-red-600 text-transparent bg-clip-text ">IndusPoints</th>
          <th scope="col" class="px-4 py-3">Points</th>
          <th scope="col" class="px-4 py-3">Team Points</th>
          <th scope="col" class="px-4 py-3">Team Value</th>
        </tr>
      </thead>
      <tbody>
        {players.map((player) => <Row player={player} />)}
      </tbody>
    </table>
  </div>
</div>