---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Fotter from "../components/Fotter.astro";

interface Props {
	description?: string;
	currentPage: string;
}

const {
	description = "A default description for your Astro site",
	currentPage,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description} />
		<title>FantasyScoreboard</title>
	</head>
	<body class="font-sans text-gray-100 bg-gray-900 leading-normal">
		<div class="flex">
			<div class="flex-1 flex flex-col min-h-screen">
				<Header />
				<main class="flex-1 px-36">
					<slot />
				</main>
				<Fotter />
			</div>
		</div>
	</body>
</html>
